<p id="notice"><%= notice %></p>

<div class="topnav">
  <a class="left">Musée des Femmes dans l'Art</a>
  <a href="#about" class="right">Accueil</a>
</div>

<div class="separator"></div>


<div class="grid-container">
  <div class="grid-item">Les femmes allégories</div>
  <div class="grid-item">Les femmes qui ont choquées</div>
  <div class="grid-item">Les femmes fatales</div>
  <div class="grid-item">Les femmes aimées</div>
  <div class="grid-item">Pour l'amour d'une femme</div>
  <div class="grid-item">Les femmes dans le tourment</div>
  <div class="grid-item">Les femmes dans les conflits</div>
  <div class="grid-item">La femme se libère</div>
  <div class="grid-item"></div>
  <div class="grid-item">10</div>
</div>

<%= link_to 'New Art', new_art_path %>
