<p id="notice"><%= notice %></p>

<div class="topnav">
  <a class="left">Musée des Femmes dans l'Art</a>
  <a href="#about" class="right">Accueil</a>
</div>

<div class="separator"></div>


<div class="grid-container">
  <div class="grid-item" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/5d/Eug%C3%A8ne_Delacroix_-_Le_28_Juillet._La_Libert%C3%A9_guidant_le_peuple.jpg');">Les femmes allégories</div>
  <div class="grid-item">Les femmes qui ont choquées</div>
  <div class="grid-item">Les femmes fatales</div>
  <div class="grid-item">Les femmes aimées</div>
  <div class="grid-item">Pour l'amour d'une femme</div>
  <div class="grid-item">Les femmes dans le tourment</div>
  <div class="grid-item">Les femmes dans les conflits</div>
  <div class="grid-item">Les femmes se libèrent</div>
  <div class="grid-item">Les femmes et les religions</div>
  <div class="grid-item">Les femmes artistes</div>
</div>

<%= link_to 'New Art', new_art_path %>
